<template name="performanceinvestment">
  <div class="card grey lighten-4">
    <div class="card-content">
      <div class="card-title">
        {{i18n 'dapp.components.investments.header'}}
        <!-- Switch -->
        <div class="switch">
         <label>
           List
           <input type="checkbox">
           <span class="lever"></span>
           Settings
         </label>
       </div>
      </div>
      <p>{{i18n 'dapp.components.investments.description'}}</p>

      {{#if investmentCount}}
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>{{i18n 'dapp.app.headers.identicon'}}</th>
              <th>{{i18n 'dapp.app.headers.fundName'}}</th>
              <th>{{i18n 'dapp.app.headers.holdingamount'}}</th>
              <th>{{i18n 'dapp.app.headers.holdingpercentile'}}</th>
              <th>{{i18n 'dapp.app.headers.performanceamount'}}</th>
              <th>{{i18n 'dapp.app.headers.performancpercentile'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each funds}}
              {{#if isOwner}}
                <tr>
                  <td>
                    <a href="http://testnet.etherscan.io/address/{{fundAddress}}" target="_blank">
                      {{> dapp_identicon identity=fundAddress class="dapp-small"}}
                    </a>
                  </td>
                  <td>
                    <a href="/fund/{{_id}}"><strong>{{fundName}}</strong></a>
                  </td>
                  <td>
                    0.0
                    <!-- {{displayBalance balance}} -->
                  </td>
                  <td>1.0</td>
                  <td>0.0</td>
                  <td>1.0</td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      {{/if}}

      <div class="card-action">
        <button type="button" class="btn btn-default btn-invest">{{i18n 'dapp.components.investments.create'}}</button>
      </div>
    </div>
  </div>
</template>
