<template name="performancefund">

  <div class="card grey lighten-4">
    <div class="card-content">
      <span class="card-title">
        {{#if fundCount}}
          {{i18n 'dapp.components.funds.header'}}
          <!-- Switch -->
          <div class="switch">
           <label>
             List
             <input type="checkbox">
             <span class="lever"></span>
             Settings
           </label>
         </div>
        {{else}}
          Get started
        {{/if}}
      </span>

      {{#if fundCount}}
        <p>{{i18n 'dapp.components.funds.description'}}</p>
      {{else}}
        <p>Create a smart contract and become a hedge fund manager.</p>
      {{/if}}

      {{#if fundCount}}
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>{{i18n 'dapp.app.headers.identicon'}}</th>
              <th>{{i18n 'dapp.app.headers.fundName'}}</th>
              <th>{{i18n 'dapp.app.headers.fundPx'}}</th>
              <th>{{i18n 'dapp.app.headers.notional'}}</th>
              <th>{{i18n 'dapp.app.headers.intraday'}}</th>
              <th>{{i18n 'dapp.app.headers.intramonth'}}</th>
              <th>{{i18n 'dapp.app.headers.intrayear'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each funds}}
              {{#if isOwner}}
                <tr>
                  <td>
                    <a href="http://testnet.etherscan.io/address/{{fundAddress}}" target="_blank">
                      {{> dapp_identicon identity=fundAddress class="dapp-small"}}
                    </a>
                  </td>
                  <td>
                    <a href="/fund/{{_id}}"><strong>{{fundName}}</strong></a>
                  </td>
                  <td>1.0</td>
                  <td>
                    <a href="http://testnet.etherscan.io/address/{{fundAddress}}" target="_blank">
                      {{displayBalance notional}}
                    </a>
                  </td>
                  <td>{{intraday}}</td>
                  <td>{{mtd}}</td>
                  <td>{{ytd}}</td>
                </tr>
              {{/if}}
            {{/each}}
          </tbody>
        </table>
      {{/if}}
      <div class="card-action">
        <button type="submit" class="btn btn-default">{{i18n 'dapp.components.funds.create'}}</button>
      </div>
    </div>
  </div>
</template>
