<template name="wallet">
  <div class="card grey lighten-4">
    <div class="card-content">
      <div class="card-title">
        {{i18n 'dapp.components.wallet.header'}}
        <!-- Switch -->
        <div class="switch">
         <label>
           List
           <input type="checkbox">
           <span class="lever"></span>
           Settings
         </label>
       </div>
      </div>

      <p>{{i18n 'dapp.components.wallet.description'}}</p>

      {{#if walletCount}}

        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>{{i18n 'dapp.app.headers.identicon'}}</th>
              <th>{{i18n 'dapp.app.headers.notional'}}</th>
              <th>{{i18n 'dapp.app.headers.performance'}}</th>
              <th>{{i18n 'dapp.app.headers.status'}}</th>
            </tr>
          </thead>
          <tbody>
            {{#each wallets}}
              <tr>
                <td>
                  <a href="http://testnet.etherscan.io/address/{{address}}" target="_blank">
                    {{> dapp_identicon identity=address class="dapp-small"}}
                  </a>
                </td>
                <td>
                  <a href="http://testnet.etherscan.io/address/{{address}}" target="_blank">
                    {{displayBalance balance}}
                  </a>
                </td>
                <td>N/A</td>
                <td>
                  <a class="unlock">
                    {{#if isUnlocked address}}
                      <a class="waves-effect waves-light btn green lighten-2"><i class="material-icons">lock_open</i></a>
                    {{else}}
                      <a class="waves-effect waves-light btn red lighten-2"><i class="material-icons">lock</i></a>
                    {{/if}}
                  </a>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>

        <p>{{i18n 'dapp.components.balance.total'}}: <strong>{{totalBalance}}</strong></p>
        <br/>
        <div class="card-action">
          <button type="button" class="btn btn-default new-wallet">{{i18n 'dapp.components.wallet.create'}}</button>
          <button type="button" class="btn btn-default import-wallet">{{i18n 'dapp.components.wallet.import'}}</button>
          <button type="button" class="btn btn-default refresh-wallets">{{i18n 'dapp.components.wallet.refresh'}}</button>
          <button type="button" class="btn btn-default manage-wallets">{{i18n 'dapp.components.wallet.manage'}}</button>
        </div>

      {{else}}

        <!-- Modal Structure -->
        <div id="modal1" class="modal">
          <div class="modal-content">
            <h4>{{i18n 'dapp.agreement.header'}}</h4>
            <br/>
            <p>{{i18n 'dapp.agreement.description'}}</p>
            <br/>
            <p>This software is in an HIGHLY EXPERIMENTAL stage. PodPort assumes no responsibility whatsoever for its use by other parties, and makes no guarantees, expressed or implied, about its quality, reliability, or any other characteristic. </p>
            <br/>
            <p>
              THIS SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
              IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
              FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
              AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
              LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
              OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
              THE SOFTWARE.
            </p>
            <br/>
            <p>This software is intended for demonstration purposes only. USE AT YOUR OWN RISK!</p>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Disagree</a>
            <button type="button" class="modal-action modal-close waves-effect waves-green btn-flat new-wallet">Agree</button>
          </div>
        </div>

        <p class="well well-info">
          {{i18n 'dapp.components.wallet.wellDescriptionStart'}}
        </p>
        <div class="card-action">
          <!-- Modal Trigger -->
          <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Create</a>
        </div>
      {{/if}}
    </div>
  </div>
</template>
