<template name="email">
  <h4 class="center grey-text">Comming soon!</h4>
  <p class="center light">Subscribe to our newsletter.</p>

  <form id="mailing-list" class="form-inline">
    <div class="form-group center">
      <label hidden for="emailAddress">Email</label>
      <input type="email" name="emailAddress" class="form-control" id="emailAddress" placeholder="example@gmail.com">
    </div>
    <button type="submit" class="btn-large waves-effect waves-light grey darken-1">Subscribe</button>
    <label class="error-message"></label>
  </form>
</template>
