<template name="email">


  <h4 class="center grey-text">Hoist your sail and subscribe!</h4>
  <p class="center light">Stay ready, the winds will soon be fair.</p>

  <form id="mailing-list" class="form-inline">
    <div class="form-group center">
      <label hidden for="emailAddress">Email</label>
      <input type="email" name="emailAddress" class="form-control" id="emailAddress" placeholder="awesome.person@gmail.com">
    </div>
    <button type="submit" class="btn-large waves-effect waves-light grey darken-1">Subscribe</button>
    <label class="error-message"></label>
  </form>

</template>
