<!-- This is a document of a collection -->
<template name="fund">
  <!-- Logged-in -->
  {{#if isOwner}}
    <li class="{{#if checked}}checked{{/if}} {{#if private}}private{{/if}}">
      <button class="delete">&times;</button>
      <!-- <input type="checkbox" checked="{{checked}}" class="toggle-checked" /> -->
      {{#if private}}
        <button class="btn btn-default toogle-private">Private</button>
      {{else}}
        <button class="btn btn-success toogle-private">Public</button>
      {{/if}}
      <a class="show-fund">
      <span class="text">
        <a href="/fund/{{_id}}"><strong>{{username}}</strong> - {{fundName}}</a>
      </span>
      </a>
    </li>
  <!-- Not Owner or not logged-in -->
  {{else}}
    <!-- Not private -->
    {{#unless private}}
      <li>
        <a class="show-fund">
        <span class="text">
          <a href="/fund/{{_id}}"><strong>{{username}}</strong> - {{fundName}}</a>
        </span>
        </a>
      </li>
    {{/unless}}
  {{/if}}
</template>
