<template name="layout_footer">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col m4 s12">
          <h5 class="white-text"><a class="grey-text text-lighten-3" href="https://github.com/melonproject">Contribute</a></h5>
          <p class="grey-text text-lighten-4">Show us your skills on <a class="grey-text text-lighten-3" href="https://github.com/melonproject">Github.</a></p>
        </div>
        <div class="col m4 s12">
          <h5 class="white-text"><a class="white-text text-lighten-4" href="mailto:team@melonport.com?subject=Contract: " target="_top">Contact us</a></h5>
          <p class="white-text text-lighten-4" >Send us an <a class="white-text text-lighten-4" href="mailto:team@melonport.com?subject=Contact: " target="_top">email</a></p>
        </div>
        <div class="col m4 s12">
          <h5 class="white-text">Connect with us</h5>
          <ul>
            <li><a class="white-text text-lighten-3" href="https://reddit.com/r/melonproject" target="_blank">Reddit</a></li>
            <li><a class="white-text text-lighten-3" href="https://twitter.com/melon_project" target="_blank">Twitter</a></li>
            <li><a class="white-text text-lighten-3" href="https://www.linkedin.com/company/melonport-ltd" target="_blank">LinkedIn</a></li>
            <li><a class="white-text text-lighten-3" href="https://www.github.com/melonproject" target="_blank">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        {{{i18n 'dapp.app.copyright'}}}
      </div>
    </div>
  </footer>
</template>
