<template name="layout_footer">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Contribute</h5>
          <p class="grey-text text-lighten-4">Be a part of the success of PodPort and show us your skills on <a class="grey-text text-lighten-3" href="https://github.com/hedgesuisse">Github</a></p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Follow us on</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://twitter.com/hedge_suisse" target="_blank">Twitter</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/company/hedge-suisse" target="_blank">LinkedIn</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.github.com/hedgesuisse" target="_blank">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        {{{i18n 'dapp.app.copyright'}}}
        <a class="grey-text text-lighten-4 right" href="http://www.hedge-suisse.com/">Back to landing page</a>
      </div>
    </div>
  </footer>
</template>
