<template name="layout_footer">
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col m4 s12">
          <h5 class="grey-text text-lighten-4">Connect with us</h5>
          <ul>
            <li><a class="grey-text text-lighten-5" href="https://reddit.com/r/melonproject" target="_blank">Reddit</a></li>
            <li><a class="grey-text text-lighten-5" href="https://twitter.com/melon_project" target="_blank">Twitter</a></li>
            <li><a class="grey-text text-lighten-5" href="https://www.linkedin.com/company/melonport-ltd" target="_blank">LinkedIn</a></li>
            <li><a class="grey-text text-lighten-5" href="https://www.github.com/melonproject" target="_blank">Github</a></li>
          </ul>
        </div>
        <div class="col m4 s12">
          <h5 class="grey-text text-lighten-4">Join us</h5>
          <ul>
            <li><a class="grey-text text-lighten-5" href="https://github.com/melonproject" target="_blank">Show us your skills on Github</a></li>
            <li><a class="grey-text text-lighten-5" href="https://gitter.im/melonproject/general" target="_blank">Join the conversation on Gitter</a></li>
            <li><a class="grey-text text-lighten-5" href="mailto:team@melonport.com?subject=Contact: " target="_top">Send us an Email</a></li>
            <li><script async defer src="http://chat.melonport.com/slackin.js"></script></li>
          </ul>
        </div>
        <div class="col m4 s12">
          <h5 class="grey-text text-lighten-4">Subscribe</h5>
          <label class="error-message red-text text-lighten-3"></label>
          <form id="mailing-list" class="form-inline">
            <label hidden for="emailAddress">Email</label>
            <input type="email" name="emailAddress" class="form-control white-text" id="emailAddress" placeholder="email address">
            <button type="submit" class="btn-large waves-effect waves-light indigo darken-2">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        {{{i18n 'dapp.app.copyright'}}}
      </div>
    </div>
  </footer>
</template>
