<template name="layout_header">
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="/" class="brand-logo"><img height="64" id="logo" src="melonwebsite.svg"/></a>
        <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="/about/">About</a></li>
          <li><a href="/team/">Team</a></li>
          <li><a href="/faq/">FAQ</a></li>
          <li><a href="https://medium.com/" target="_blank">Blog</a></li>
        </ul>
        <ul class="side-nav grey darken-3" id="mobile-demo">
          <li><a class="waves-effect waves-grey white-text" href="/about/">About</a></li>
          <li><a class="waves-effect waves-grey white-text" href="/team/">Team</a></li>
          <li><a class="waves-effect waves-grey white-text" href="/faq/">FAQ</a></li>
          <li><a class="waves-effect waves-grey white-text" href="https://medium.com/@melonproject" target="_blank">Blog</a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>
