<template name="layout_header">

  <!-- Dropdown Structure -->
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="{{ pathFor 'investing' }}">{{{i18n 'dapp.app.buttons.investing'}}}</a></li>
    <li><a href="{{ pathFor 'wallet' }}">{{{i18n 'dapp.app.buttons.wallet'}}}</a></li>
    <li><a class="logout">{{{i18n 'dapp.app.buttons.signout'}}}</a></li>
  </ul>

  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="/" class="brand-logo"><img class="responsive-img" width="48" id="logo" src="1465755186_ETH-alt.svg"/></a>
        <a href="/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a href="https://medium.com/" target="_blank">Blog</a></li>
          <li><a href="{{ pathFor 'about' }}">About</a></li>
          <li><a href="{{ pathFor 'team' }}">Team</a></li>
          <li><a href="{{ pathFor 'faq' }}">FAQ</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="https://medium.com/" target="_blank">Blog</a></li>
          <li><a href="{{ pathFor 'about' }}">About</a></li>
          <li><a href="{{ pathFor 'team' }}">Team</a></li>
          <li><a href="{{ pathFor 'faq' }}">FAQ</a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>
