<template name="layout_header">
  <nav>
    <div class="nav-wrapper">
      <div class="container">
        <a href="/" class="brand-logo hide-on-med-and-down"><img height="36" id="logo" src="melonwebsite.png"/></a>
        <a href="/" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right">
          <li><a class="error-message red-text text-lighten-3"></a></li>
          <li>
            <form id="mailing-list" class="form-inline">
              <label hidden for="emailAddress">Email</label>
              <input type="email" name="emailAddress" class="form-control white-text" id="emailAddress" placeholder="Subscribe to our newsletter">
            </form>
          </li>
        </ul>
        <ul class="right hide-on-med-and-down">
        </ul>
        <ul class="side-nav blue-grey darken-3" id="nav-mobile">
          <!-- Logo -->
          <li><a class="brand-logo center"><img height="36" id="logo" src="melonwebsite.png"/></a></li>
          <li><a class="waves-effect waves-blue-grey white-text" href="/"></a></li>
        </ul>
      </div>
    </div>
  </nav>
</template>
