<template name="components_imagetoken">
    <div class="card grey lighten-4">
        <div class="card-title">
            {{i18n 'dapp.components.imagetoken.header'}}
        </div>
        <div class="card-content">
            <p>{{i18n 'dapp.components.imagetoken.description'}}</p>

            <p class="well well-info">
                {{i18n 'dapp.components.imagetoken.wellDescription'}}
            </p>

            <button type="button" class="btn btn-default btn-invest">
                {{i18n 'dapp.components.imagetoken.create'}}
            </button>
        </div>
    </div>
</template>
