$main: #0c1529;
$black: #000000;
$grey-primary: #303030;
$text-grey: #d1d1d1;
$grey-title: #252525;
$grey: #444444;
$light-grey: #f6f6f6;
$border-input: #cccccc;
$border-customer: #d7d7d7;
$white: #ffffff;
$par-grey: #4e4e4e;
$light-blue: #1189c6;