$radius:                 4px;
$scale:                  8%;

$spacing-sm:             10px;
$spacing-md:             20px;
$spacing-lg:             50px;

$border-light:           1px solid $light-grey;
$border-normal:          1px solid $border-customer;
$border-dark:            1px solid $grey-primary;

$shadow-lighter:         0 1px 15px 1px rgba($black, .15);
$shadow-normal:         0 10px 35px 10px rgba($black, .15);
$shadow-darker:          0 2px 3px 1px rgba($black, .3);