<template name="newfund">
  <div class="card grey lighten-4">
    <div class="card-content">
      <div class="card-title">
        {{i18n 'dapp.components.newfund.header'}}
      </div>
      <p>{{i18n 'dapp.components.newfund.description'}}</p>
      <br/>

      {{#if isError}}
        <div class="alert alert-warning">
          There was an error deploying your contract.
          The error was: "{{error}}".
        </div>
      {{/if}}

      {{#if isMining}}
        <div class="alert alert-info">
          Your contract is being mined...
          <span class="badge text-right">
            <i class="fa fa-cog fa-spin"></i>
          </span>
        </div>
      {{/if}}

      {{#if isMined}}
        <div class="alert alert-success">
          Your PodPort fund has been mined!
        </div>
        <hr />

        <label>
          Your contract has been deployed to this address:
        </label>
        <input type="text" class="form-control" value="{{address}}" placeholder="Address" />

        <br />
        <pre class="well well-info">{{source}}</pre>
        <hr />
      {{/if}}

      {{#if isCreated}}
      {{/if}}

      {{#if isInactive}}
        <div class="row">
          <form class="col s12 new-fund">
            <div class="row">
              <div class="input-field col s12">
                <input id="fund_name" type="text" class="validate" required="" aria-required="true">
                <label for="fund_name">Fund Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select id="categorySelect">
                  <option value="" disabled selected>Categorize your fund.</option>
                  <option value="1">Short term trading</option>
                  <option value="2">Long term trading</option>
                  <option value="3">Thematic Fund</option>
                </select>
                <label>Fund Category</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select id="assetSelect" multiple>
                  <option value="" disabled selected>Trading of your fund is restricted to the following assets.</option>
                  <option value="1">Augur (REP)</option>
                  <option value="2">All Augur Markets</option>
                  <option value="3">DigixDAO (DGD)</option>
                  <option value="4">Maker (MKR)</option>
                  <option value="5">Maker (Dai)</option>
                  <option value="6">The Dao (Dao tokens)</option>
                </select>
                <label>Asset Class Module</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select id="exchangeSelect">
                  <option value="" disabled selected>Exchange used to trade assets of your fund.</option>
                  <option value="1">HS Standard</option>
                  <option value="2">EtherEx</option>
                  <option value="3">Maker OTC</option>
                </select>
                <label>Exchange Module</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select id="pricefeedSelect">
                  <option value="" disabled selected>Price Feed used to evaluate your fund performance.</option>
                  <option value="1">HS Standard</option>
                  <option value="2">Kraken Public API</option>
                </select>
                <label>Price Feed Module</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select id="managementfeeSelect">
                  <option value="" disabled selected>Module used to calculate the management fee.</option>
                  <option value="1">HS Standard</option>
                </select>
                <label>Management Fee Module</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select id="performancefeeSelect">
                  <option value="" disabled selected>Module used to calculate the performance fee.</option>
                  <option value="1">HS Standard</option>
                </select>
                <label>Performance Fee Module</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <select id="referencetypeSelect">
                  <option value="" disabled selected>Your performance is evaluated against this reference type.</option>
                  <option value="1">USD</option>
                  <option value="2">EUR</option>
                  <option value="3">ETH</option>
                  <option value="4">BTC</option>
                </select>
                <label>Reference Type Module</label>
              </div>
            </div>
            <button type="submit" class="btn btn-default btn-deploy">{{i18n 'dapp.components.newfund.deploy'}}</button>
          </form>
        </div>
      {{/if}}
    </div>
  </div>
</template>
