@import "partials/color";
@import "partials/typography";
@import "partials/button";
@import "partials/detail";
@import "partials/base";

$fullwidth : 100%;

// global
.main-title{
	color: $grey-title;
	margin-top: $spacing-lg;
	font-size: $font-size-grande - 4;
	font-weight: $font-weight-regular;
}
.desc-title{
	color: $grey-title;
	margin-bottom: $spacing-lg;
	font-size: $font-size-normal;
	font-weight: $font-weight-regular;
  a{
    color: $light-blue;
  }
}
.contrib-title{
	color: $grey-title;
	margin-top: $spacing-lg;
	font-size: $font-size-large + 2;
	font-weight: $font-weight-light;
	text-align: center;
}
.about-title{
	color: $grey-title;
	font-size: $font-size-large + 6;
	font-weight: $font-weight-regular;
	text-align: center;
}
.sub-about-title{
	color: $grey-title;
	font-size: $font-size-large;
	font-weight: $font-weight-regular;
	text-align: center;
}
.modal-video{
	.modal-content{
		.modal-header{
			border-bottom: 0;
		}
		.modal-body{
			padding: 10px;
			padding-top: 0;
		}
	}
}
.mp-form{
	.form-group{
		input{
			width: 100%;
			height: 50px;
			border-radius: 0;
			padding: 8px 20px;
		}
	}
}
// ==== Index Section ====
// css for header
.nav-header{
	height: 64px;
	border: 0;
	border-radius: 0;
	background: transparent;
	margin-bottom: 0;
	position: absolute;
	width: 100%;
	z-index: 10;
	.container{
		height: 100%;
		.navbar-header{
			height: 100%;
			a.navbar-brand{
				height: 100%;
				padding: 12px;
				img{
					height: 50px;
					width: auto;
				}
			}
			.navbar-toggle{
				margin-top: 15px;
			}
		}
		.navbar-collapse{
			ul.navbar-right{
				margin-top: 0;
				li{
					a{
						padding: 22px 25px;
						color: $text-grey;
						font-weight: $font-weight-medium;
						&:hover{
							color: $white;
						}
					}
					&.active{
						a{
							color: $main;
							background-color: #ffffff;
						}
					}
					&.btn-request{
						padding: 13px 0 13px 25px;
						a{
							padding: 8px 20px;
						}
					}
					&.dropdown{
						&.open{
							a{
								background-color: transparent;
							}
						}
						ul.dropdown-menu{
							padding: 0;
							background: rgba(255,255,255,.2);
							color: $text-grey;
							box-shadow: none;
							li{

							}
						}
					}
				}
			}
			&.in{
				ul.navbar-right{

				}
			}
		}
	}
}
// hero section
.mp-hero{
	background: url('../img/bgr_hero.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	height: 640px;
	.hero-text{
		padding-top: $spacing-lg * 4;
		h1{
			color: $white;
			font-size: $font-size-grande + 4;
			font-weight: $font-weight-light;
		}
		p{
			font-size: $font-size-medium;
			margin-bottom: $spacing-lg;
			color: $white;
		}
		.input-newsletter{
			margin-top: $spacing-md + $spacing-sm;
			input{
				position: relative;
				z-index: 1;
				float: left;
				width: 100%;
				display: table-cell;
				height: 60px;
				border-color: $white;
				color: $white;
				border-right: 0;
				font-size: $font-size-normal;
				background: rgba(255,255,255,.1);
				&:focus{
					border-color: $white !important;
				}
			}
			.input-group-link{
				display: table-cell;
				width: 1%;
				margin-left: -1px;
				border: 1px solid $white;
				padding: 10px 15px 10px 10px;
				border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
				border-left: 0;
				vertical-align: middle;
				background: rgba(255,255,255,.1);
				button{
					background: none;
					border: none;
					i{
						font-size: $font-size-medium;
						color: $white;
					}
					&:focus{
						outline: none;
					}
					&:hover{
						i{
							color: darken($white, 15%);
						}
					}
				}
			}
		}
	}
}
.mp-logo{
	height: 107px;
	background: $light-grey;
	.mp-logo-wrapper{
		padding-top: $spacing-sm;
		.mp-logo-box{
			text-align: center;
			img{
				height: 65px;
				padding-top: $spacing-md + 5;
			}
		}
	}
}
// count section
.mp-count{
	.mp-count-wrapper{
		padding: $spacing-lg $spacing-md;
		.mp-count-box{
			border-right: 1px solid $light-grey;
			text-align: center;
			&:last-child{
				border-right: 0;
			}
			h2{
				font-weight: $font-weight-light;
				font-size: $font-size-venti;
				color: #0c1529;
			}
			p{
				font-size: $font-size-small;
			}
		}
	}
}
// about section
.mp-about{
	margin: 0 0 $spacing-lg * 2;
	.mp-about-title{

	}
	.mp-about-content{
		.mp-about-box{
			text-align: center;
			padding: $spacing-md $spacing-lg - $spacing-md;
			border: 1px solid $light-grey;
			min-height: 430px;
			.about-img-box{
				height: 100px;
				img{
					height: 80px;
					width: auto;
					object-fit: contain;
					object-position: 50% 50%;
				}
			}
			h3{
				font-size: $font-size-medium;
				font-weight: $font-weight-medium;
				padding: 0 $spacing-md;
				color: $grey-title;
				line-height: 30px;
				min-height: 70px;
				vertical-align: middle;
			}
			p{
				color: $par-grey;
			}
		}
	}
}
// get started section
.mp-started, .mp-learn-started{
	background: $light-grey;
	padding-bottom: $spacing-lg + $spacing-md;
	min-height: 500px;
	.started-tab{
		.nav-started{
			li{
				width: 33.2%;
				a{
					background: $white;
					color: $grey-title;
					border-radius: 0;
					border: 0;
					padding: 20px 33px;
					font-size: $font-weight-medium;
					i{
						font-size: $font-size-large;
						vertical-align: middle;
						margin-right: $spacing-sm;
					}
					&:hover{
						background: darken($white, 8%);
					}
				}
				&.active{
					a{
						background: $main;
						color: $white;
					}
				}
			}
		}
		.content-started{
			padding: $spacing-md + $spacing-sm 0;
			h6{
				color: $grey-title;
				font-size: $font-size-normal;
				font-weight: $font-weight-regular;
				margin-bottom: $spacing-lg - 10;
			}
			.form-group{
				margin: $spacing-md 0 ;
				label{
					font-size: $font-size-medium - 2;
					font-weight: $font-weight-medium;
					color: $par-grey;
				}
				.text-code{
					margin-left: 15px;
					margin-top: 10px;
					padding: 15px 20px;
					border: 1px dashed #aaaaaa;
					border-radius: 6px;
					font-size: $font-size-normal - 1;
					color: $par-grey;
					font-weight: $font-weight-regular;
					word-break: normal;
					a{
						color: $light-blue;
					}
				}
			}
		}
	}
}
// partner section
.mp-partner{
	background: $white;
	margin: $spacing-md 0;
	.mp-partner-wrapper{
		padding: $spacing-md 0;
		.mp-partner-title{
			h4{
				font-weight: $font-weight-regular;
				color: $par-grey;
				padding-top: 10px;
			}
		}
		.mp-partner-list{
			text-align: right;
			ul{
				li{
					display: inline-block;
					padding: $spacing-sm $spacing-lg - $spacing-sm;
					img{
						max-height: 50px;
					}
				}
			}
		}
	}
}
.mp-partner .mp-partner-wrapper .mp-partner-list ul li{
  padding: 10px 26px !important;
}

// module section
.mp-module{
	background: $white;
  border-top: 1px solid #eee;
	margin: $spacing-md 0;
	.mp-module-wrapper{
		padding: $spacing-md 0;
		.mp-module-title{
			h4{
				font-weight: $font-weight-regular;
				color: $par-grey;
				padding-top: 10px;
			}
		}
		.mp-module-list{
			text-align: left;
			ul{
				li{
					display: inline-block;
					padding: $spacing-sm $spacing-lg - $spacing-sm;
					img{
						max-height: 50px;
					}
				}
			}
		}
	}
}
.module-name{
  font-size: 20px;
  color:#b0b0b0;
  margin-left: 10px;
  font-weight: 100;
}
.mp-module .mp-module-wrapper .mp-module-list ul li{
  padding: 10px 26px !important;
}

// video section
.mp-video{
	background: url('../img/bgr_video.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	height: 420px;
	padding: $spacing-lg * 2 0;
	h2{
		color: $white;
		font-size: $font-size-venti - 3;
		font-weight: $font-weight-regular;
	}
	h5{
		color: $white;
		font-weight: $font-weight-regular;
		font-size: $font-size-grande - 3;
		margin-top: $spacing-sm;
		margin-bottom: $spacing-md;
	}
	a{
		cursor: pointer;
		i{
			color: $light-blue;
			font-size: $font-size-venti;
		}
		&:hover{
			i{
				color: darken($light-blue, 10%);
			}
		}
	}
}

// contribution page
.mp-contrib-hero{
	background: url('../img/bgr_hero.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	height: 320px;
	.hero-text{
		padding-top: $spacing-lg * 2;
		h1{
			color: $white;
			font-size: $font-size-grande + 4;
			font-weight: $font-weight-light;
			margin-bottom: 0;
		}
		p{
			font-size: $font-size-medium;
			margin-bottom: $spacing-lg;
			color: $white;
		}
	}
	.hero-summary{
		padding-top: 120px;
		.hero-network-summary{
			margin-bottom: $spacing-lg - 20;
			ul{
				display: table;
				li{
					display: table-cell;
					padding-left: 25px;
					&:first-child{
						color: $white;
						border-right: 1px solid rgba(255, 255, 255, 0.11);
						width: 140px;
						text-transform: uppercase;
						padding-left: 0;
					}
					p{
						margin-bottom: 0;
						&.status{
							color: #ebebeb;
							font-weight: $font-weight-light;
						}
						&.value{
							font-weight: $font-weight-regular;
							&.green{
								color: $light-green;
							}
							&.blue{
								color: $light-blue;
							}
						}
					}
				}
			}
		}
	}
}
// contribution main page
.mp-contrib-main{
	padding-top: $spacing-lg;
	padding-bottom: $spacing-lg * 2;
	p{
		font-size: $font-size-normal;
	}
	.mp-contrib-term{
		min-height: 300px;
		.contrib-title{

		}
		.form-checkbox{
			padding-top: $spacing-lg - 10;
			p{
				font-size: $font-size-normal;
				color: $par-grey;
			}
			.checkbox{
				color: $par-grey;
				font-size: $font-size-normal - 1;
				padding: 15px;
				margin-bottom: 15px;
				border: 1px solid #ccc;
				label{
					padding-left: 40px;
					position: relative;
					span.input-check{
						height: 20px;
						width: 20px;
						border: 1px solid #ccc;
						content: '';
						position: absolute;
						margin: auto 0;
						top: 0;
						left: 0;
						bottom: 0;
						background: transparent;
						cursor: pointer;
						&:after {
							content: '';
							width: 9px;
							height: 5px;
							position: absolute;
							top: 5px;
							left: 5px;
							border: 1px solid #333;
							border-top: none;
							border-right: none;
							background: transparent;
							opacity: 0;
							transform: rotate(-45deg);
						}
						&:hover::after {
							opacity: 0.5;
						}
					}
					input[type=checkbox]{
						visibility: hidden;
						&:checked + span{
							background: $light-blue;
						}
						&:checked + span:after {
							border-color: $white;
							opacity: 1;
						}
					}
					a{
						color: $light-blue;
						&:hover{
							color: darken($light-blue, 10%);
						}
					}
				}
			}
		}
	}
	.mp-contrib-confirm{
		.mp-form{
			.form-group{
				&.has-feedback{
					padding-left: 0;
					input{
						padding: 8px 230px 8px 20px;
					}
					span{
						width: 230px;
						height: 100%;
						padding-top: 8px;
						right: 15px;
						color: $light-green;
					}
				}
			}
		}
	}
	.mp-contrib-sign{
		ul{
			border-left: 5px solid $light-blue;
			margin: $spacing-md 0;
			padding-left: $spacing-md + $spacing-sm;
			li{
				line-height: 2.5;
			}
		}
	}
	.mp-contrib-send{
		p{
			word-break: break-all;
		}
		.mp-form{
			.form-group{
				padding-left: 0;

			}
		}
	}
}

// about page
.mp-about-hero{
	background: url('../img/bgr_hero.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	height: 300px;
	.hero-text{
		padding-top: $spacing-lg * 2;
		h1{
			color: $white;
			font-size: $font-size-grande + 4;
			font-weight: $font-weight-light;
			margin-bottom: 0;
		}
	}
}
.mp-about-container{
	.nav-about{
		background: #f6f6f6;
		text-align: center;
		border-bottom: 0;
		li{
			padding: 25px 15px 0;
			float: none;
			display: inline-block;
			a{
				text-transform: uppercase;
				color: #868686;
				border: 0;
				text-align: center;
				padding: 0;
				padding-bottom: 25px;
				&:hover{
					background: none;
					color: darken(#868686, 20%);
				}
			}
			&.active{
				a{
					border: 0;
					border-bottom: 4px solid $main;
					color: $main;
					background: none;
				}
			}
		}
	}
	.content-about{
		#careers{
			background: #f9f9f9;
		}
		.mp-about-main{
			padding: 0 0 $spacing-lg * 2;
			.nav-about-wrapper{
				background-color: $light-grey;
				margin: 0;
				.nav-about{
					padding: 0;
					margin-left: auto;
					margin-right: auto;
					border-bottom: 0;
					li{
						display: inline-block;
						padding: 20px;
						a{
							font-weight: $font-weight-medium;
							font-size: $font-size-normal - 1;
							text-transform: uppercase;
							color: #868686;
							padding-bottom: 20px;
							&:hover{
								color: darken(#868686, 15%);
							}
						}
						&.active{
							a{
								background: transparent;
								border: 0;
								border-radius: 0;
								border-bottom: 3px solid $main;
								color: $grey-title;
							}
						}
					}
				}
			}
			.content-about-wrapper{
				padding: $spacing-lg $spacing-lg + $spacing-md;
				&#content-brief{
					padding: 0;
					.brief-intro{
						text-align: center;
						padding: $spacing-lg $spacing-lg * 3 0;
						img{
							width: 60px;
							height: auto;
							object-fit: contain;
							object-position: 50% 50%;
							margin-bottom: $spacing-lg;
						}
						h3{
							font-size: $font-size-medium;
							font-weight: $font-weight-regular;
							color: $par-grey;
						}
						p{
							color: #868686;
							font-weight: $font-weight-regular;
							font-size: $font-size-small;
							padding: $spacing-lg $spacing-lg * 2;
						}
					}
					.brief-count{
						border-top: 1px solid #cccccc;
						border-bottom: 1px solid #cccccc;
						.box-count-wrapper{
							border-right: 1px solid #cccccc;
							padding: 30px 40px;
							&:last-child{
								border-right: 0;
							}
							.box-count{
								.box-count-icon{
									display: inline-block;
									vertical-align: middle;
									width: 60px;
									i{
										font-size: 50px;
									}
								}
								.box-count-text{
									display: inline-block;
									vertical-align: middle;
									p{
										color: #868686;
										margin: 0;
										font-weight: $font-weight-medium;
										font-size: $font-size-small;
									}
									h3{
										color: $grey-title;
										font-size: $font-size-grande - 3;
										font-weight: $font-weight-medium;
										margin: 0;
									}
								}
							}
							p{
								margin-top: $spacing-md;
								color: #868686;
								font-size: $font-size-small;
								font-weight: $font-weight-regular;
								line-height: 1.7;
							}
						}
					}
					.brief-team{
						padding: $spacing-lg $spacing-lg 0;
						.brief-team-wrapper{
							.sub-about-title{
								margin-bottom: $spacing-lg;
							}
							.brief-team-box{
                margin-bottom: $spacing-lg;
								img{
									width: 100%;
									height: 337px;
									object-fit: cover;
									object-position: 50% 50%;
									border: 1px solid #eeeeee;
								}
								.brief-team-text{
									padding: 0 $spacing-sm;
									h3{
										margin: 0;
										margin-top: $spacing-md;
										font-weight: $font-weight-semiBold;
										font-size: $font-size-medium - 2;
										color: $main;
										line-height: normal;
									}
									h6{
										margin: 0;
										font-size: $font-size-small;
										font-weight: $font-weight-light;
									}
									p{
										color: $par-grey;
										font-size: $font-size-small;
										font-weight: $font-weight-regular;
										height: 100%;
										margin-top: $spacing-md;
										margin-bottom: $spacing-md;
									}
									ul.team-box-social{
										li{
											display: inline-block;
											a{
												margin-right: 12px;
												i{
													color: $text-grey;
													font-size: 18px;
												}
												&:hover{
													i{
														color: darken($text-grey, 10%);
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
				&#content-careers{
					padding: 0;
					.careers{
						.careers-wrapper{
							padding: $spacing-md $spacing-lg $spacing-sm;
							.careers-title{
								p{
									font-size: $font-size-normal;
									text-align: center;
									color: $par-grey;
									margin-bottom: 5px;
                  padding: 20px 100px;
                  font-weight: 400;
								}
							}
							.careers-box-wrapper{
								margin-top: $spacing-lg + $spacing-md;
								.careers-box{
									text-align: left;
									padding: 30px 40px;
									border: 1px solid #cccccc;
									border-radius: 10px;
									position: relative;
									span.notif{
										position: absolute;
										top: -20px;
										right: -8px;
										border-radius: 25px;
										padding: 8px 30px;
										background: $light-blue;
										color: $white;
										text-transform: uppercase;
									}
									h2{
										color: $main;
										font-size: $font-size-large + 1;
										font-weight: $font-weight-medium;
										margin: 0;
										margin-bottom: $spacing-md - 5;
										line-height: 1.4;
									}
									p{
										font-weight: $font-weight-regular;
										&.loc{
											font-size: $font-size-small;
											i{
												vertical-align: middle;
												font-size: 20px;
												margin-right: 10px;
											}
										}
										&.desc{
											font-size: $font-size-small - 1;
											margin-bottom: $spacing-lg - 20;
										}
									}
								}
							}
						}
					}
					.benefit{
						padding: $spacing-lg $spacing-md 0;
						.col-md-10{
							padding: 0;
						}
						.benefit-box-wrapper{
							margin-top: $spacing-lg;
							.benefit-box{
								display: table;
								margin-bottom: $spacing-lg - 20;
								min-height: 115px;
								.benefit-box-icon{
									display: table-cell;
									width: 40px;
									text-align: left;
									vertical-align: top;
									i{
										color: $light-blue;
										font-size: $font-size-large;
									}
								}
								.benefit-box-text{
									display: table-cell;
									p{
										text-align: left;
										font-size: $font-size-small;
										color: $grey-title;
										font-weight: $font-weight-regular;
										line-height: 1.7;
									}
								}
							}
						}
					}
					.join-team{
						background: #f9f9f9;
						margin: $spacing-md 0 $spacing-lg;
						h2{
							margin-bottom: $spacing-lg - 10;
						}
						p{
							font-size: $font-size-normal;
							text-align: center;
							color: $par-grey;
							margin-bottom: 5px;
						}
					}
				}
				&#content-purpose{
					p{
						padding: $spacing-md $spacing-lg * 2;
						font-weight: $font-weight-regular;
						font-size: $font-size-normal;
						text-align: center;
						color: $par-grey;
					}
				}
			}
		}
	}
}


// Learn page
.mp-learn-hero{
	background: url('../img/bgr_hero.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	height: 550px;
	.hero-text{
		padding-top: $spacing-lg * 3;
		h1{
			color: $white;
			font-size: $font-size-grande + 4;
			font-weight: $font-weight-light;
			margin-bottom: $spacing-lg;
			text-align: left;
			line-height: 1.4;
		}
		a.btn-light-blue{

		}
	}
	.hero-summary{
		padding-top: $spacing-lg * 4;
		img{
			width: 320px;
			object-fit: contain;
			object-position: 50% 50%;
		}
	}
}
// learn work page
.mp-learn-works{
	.nav-work{
		background: #f6f6f6;
		text-align: center;
		border-bottom: 0;
		li{
			padding: 25px 15px 0;
			float: none;
			display: inline-block;
			a{
				text-transform: uppercase;
				color: #868686;
				border: 0;
				text-align: center;
				padding: 0;
				padding-bottom: 25px;
				&:hover{
					background: none;
					color: darken(#868686, 20%);
				}
			}
			&.active{
				a{
					border: 0;
					border-bottom: 4px solid $main;
					color: $main;
					background: none;
				}
			}
		}
	}
	.content-work{
		padding: $spacing-lg $spacing-lg $spacing-lg * 2;
		#t_contribution{
			p{
				font-size: $font-size-normal;
				font-weight: $font-weight-regular;
				color: $grey-title;
				padding: $spacing-md $spacing-lg * 4;
			}
			img{
				height: 520px;
				padding: 30px;
			}
		}
		#t_protocol{
      p{
				font-size: $font-size-normal;
				font-weight: $font-weight-regular;
				color: $grey-title;
				padding: $spacing-md $spacing-lg * 4;
			}
			img{
				height: 520px;
				padding: 30px;
			}
		}
		#t_portal{
      p{
				font-size: $font-size-normal;
				font-weight: $font-weight-regular;
				color: $grey-title;
				padding: $spacing-md $spacing-lg * 4;
			}
			img{
				height: 520px;
				padding: 30px;
			}
		}
	}
}
// learn started section
.mp-learn-started{
	.started-tab{
		.nav-started{
			li{
				a{
					img{
						height: 23px;
						padding-right: 15px;
						vertical-align: middle;
					}
					&:hover{
						background: darken($white, 8%);
					}
				}
				&.active{
					a{
						background: $main;
						color: $white;
						img{
							-webkit-filter: brightness(200%);
							filter: brightness(200%);
						}
					}
				}
			}
		}
	}
}

// footer section
.mp-footer{
	background: $main;
	padding: $spacing-lg - 10 0;
	.footer-logo{
		img{
			height: 50px;
			width: auto;
		}
		p{
			font-weight: $font-weight-medium;
			font-size: $font-size-micro - 1;
			margin-top: $spacing-sm + 5;
			color: $text-grey;
		}
	}
	.footer-link{
		padding-top: $spacing-md;
		text-align: center;
		ul{
			li{
				display: inline-block;
				padding: $spacing-sm $spacing-md;
				a{
					color: $white;
					&:hover{
						color: darken($white, 15%);
					}
				}
			}
		}
	}
	.footer-icon{
		padding-top: $spacing-md;
		text-align: right;
		ul{
			li{
				display: inline-block;
				padding: $spacing-sm;
				a{
					i{
						font-size: $font-size-medium;
						color: $white;
						&:hover{
							color: darken($white, 15%);
						}
					}
					&:hover{
						color: darken($white, 15%);
					}
				}
			}
		}
	}
}

// responsive content
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max){
.mp-logo{
  height: auto;
  padding-bottom: 40px;
  margin-bottom: 20px;
  .mp-logo-wrapper{
    .mp-logo-box{
      img{
        height: 55px;
        padding-top: $spacing-md + 5;
      }
    }
  }
}
}

@media (max-width: $screen-xs-max){
	.nav-header{
		height: 64px;
		border: 0;
		border-radius: 0;
		background: transparent;
		margin-bottom: 0;
		position: absolute;
		width: 100%;
		z-index: 10;
		.container{
			height: 100%;
			.navbar-header{
				height: 100%;
				a.navbar-brand{
					height: 100%;
					img{
						height: 30px;
						width: auto;
					}
				}
				.navbar-toggle{
					margin-top: 15px;
				}
			}
			.navbar-collapse{
				ul.navbar-right{
					margin-top: 0;
					background: $main;
					li{
						a{
							padding: 22px 25px;
							color: $text-grey;
							font-weight: $font-weight-medium;
							&:hover{
								color: $white;
							}
						}
						&.active{
							a{
								color: $main;
								background-color: #ffffff;
							}
						}
						&.btn-request{
							padding: 13px;
							a{
								padding: 8px 20px;
							}
						}
						&.dropdown{
							&.open{
								a{
									background-color: transparent;
								}
							}
							ul.dropdown-menu{
								padding: 0;
								background: rgba(255,255,255,.2);
								color: $text-grey;
								box-shadow: none;
								li{

								}
							}
						}
					}
				}
			}
		}
	}
	.mp-hero{
		background: url('../img/bgr_hero.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		height: 600px;
		.hero-text{
			padding-top: $spacing-lg * 3 ;
			h1{
				color: $white;
				font-size: $font-size-large + 6;
				line-height: normal;
				font-weight: $font-weight-light;
				margin-bottom: $spacing-lg;
			}
			p{
				font-size: $font-size-normal;
				margin-bottom: $spacing-lg - $spacing-sm;
				color: $white;
			}
			.input-newsletter{
				margin-top: $spacing-md;
				input{
					position: relative;
					z-index: 1;
					float: left;
					width: 100%;
					display: table-cell;
					height: 50px;
					border-color: $white;
					color: $white;
					border-right: 0;
					font-size: $font-size-micro;
					background: rgba(255,255,255,.1);
					&:focus{
						border-color: $white !important;
					}
				}
				.input-group-link{
					display: table-cell;
					width: 1%;
					margin-left: -1px;
					border: 1px solid $white;
					padding: 10px 15px 5px 10px;
					border-top-right-radius: 4px;
					border-bottom-right-radius: 4px;
					border-left: 0;
					vertical-align: middle;
					background: rgba(255,255,255,.1);
					a{
						color: $white;
						&:hover{
							i{
								color: $light-grey;
								&:before{
									font-weight: 700;
								}
							}
						}
					}
				}
			}
		}
	}
	.mp-logo{
		height: auto;
    padding-bottom: 40px;
    margin-bottom: 20px;
		.mp-logo-wrapper{
			.mp-logo-box{
				img{
					height: 55px;
					padding-top: $spacing-md + 5;
				}
			}
		}
	}
	.mp-count{
		.mp-count-wrapper{
			padding: $spacing-md;
		}
	}
	.mp-about{
		margin: 0;
		.mp-about-title{
			h2{
				margin-top: $spacing-md
			}
		}
	}
	.mp-started{
		.started-tab{
			.nav-started{
				li{
					a{
						text-align: center;
						padding: $spacing-md $spacing-sm - 5;
						font-size: $font-size-micro - 1;
						i{
							font-size: $font-size-small;
							text-align: center;
							display: block;
							margin: 0;
						}
					}
				}
			}
			.content-started{
				padding: $spacing-md 0;
				.form-group{
					margin: $spacing-md 0 ;
					.text-code{
						text-overflow: ellipsis;
						overflow: hidden;
						font-size: $font-size-micro;
					}
				}
			}
		}
	}
	.mp-partner{
		.mp-partner-wrapper{
			padding: $spacing-md 0;
			.mp-partner-title{
				text-align: center;
			}
			.mp-partner-list{
				text-align: center;
				display: block;
			}
		}
	}
  .mp-module{
		.mp-module-wrapper{
			padding: $spacing-md 0;
			.mp-module-title{
				text-align: center;
			}
			.mp-module-list{
				text-align: center;
				display: block;
			}
		}
	}
	.mp-video{
		h5{
			line-height: normal;
		}
	}
	.mp-footer{
		text-align: center;
		.footer-icon{
			padding-top: $spacing-md;
			text-align: center;
		}
	}

	.mp-learn-hero{
		.hero-text{
			padding-top: $spacing-lg * 2;
			h1{
				font-size: $font-size-grande - 6;
			}
			a.btn-light-blue{

			}
		}
		.hero-summary{
			padding-top: $spacing-lg;
			img{
				width: 200px;
			}
		}
	}
	.mp-learn-works{
		.nav-work{
			li{
				padding: 25px 15px 0;
				a{
					font-size: $font-size-micro;
				}
			}
		}
		.content-work{
			padding: 20px 10px;
			#t_contribution{
				.row{
					margin: 0;
				}
				p{
					padding: $spacing-md $spacing-md;
					font-size: $font-size-small;
				}
				img{
					width: 100%;
					height: auto;
					padding: 30px;
				}
			}
			#t_protocol{
				.row{
					margin: 0;
				}
        p{
					padding: $spacing-md $spacing-md;
					font-size: $font-size-small;
				}
				img{
					width: 100%;
					height: auto;
					padding: 30px;
				}
			}
			#t_portal{
				.row{
					margin: 0;
				}
        p{
					padding: $spacing-md $spacing-md;
					font-size: $font-size-small;
				}
				img{
					width: 100%;
					height: auto;
					padding: 30px;
				}
			}
		}
	}
	.mp-learn-started{
		.started-tab{
			.nav-started{
				li{
					a{
						padding: 10px;
						text-align: center;
						img{
							display: block;
							margin-left: auto;
							margin-right: auto;
							padding-right: 0;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}

	.mp-about-hero{
		.hero-text{
			padding: $spacing-lg * 2 30px 0;
			h1{
				font-size: $font-size-grande;
				line-height: 1.4;
			}
		}
	}
	.mp-about-container{
		.nav-about{
			background: #f6f6f6;
			text-align: center;
			border-bottom: 0;
			li{
				padding: 25px 15px 0;
				float: none;
				display: inline-block;
				a{
					text-transform: uppercase;
					color: #868686;
					border: 0;
					text-align: center;
					padding: 0;
					padding-bottom: 25px;
					&:hover{
						background: none;
						color: darken(#868686, 20%);
					}
				}
				&.active{
					a{
						border: 0;
						border-bottom: 4px solid $main;
						color: $main;
						background: none;
					}
				}
			}
		}
		.content-about{
			#careers{
				background: #f9f9f9;
			}
			.mp-about-main{
				padding: 0 0 $spacing-lg * 2;
				.nav-about-wrapper{
					.nav-about{
						li{
							padding: 20px;
							a{
								font-size: $font-size-small - 1;
							}
						}
					}
				}
				.content-about-wrapper{
					&#content-brief{
						.brief-intro{
							padding: $spacing-lg $spacing-md 0;
							img{
								margin-bottom: $spacing-md;
							}
							h3{
								font-size: $font-size-normal + 2;
								line-height: 2;
							}
							p{
								font-size: $font-size-small;
								padding: $spacing-md $spacing-md $spacing-lg;
							}
						}
						.brief-count{
							border-top: 1px solid #cccccc;
							border-bottom: 0;
							.box-count-wrapper{
								border-right: none;
								border-bottom: 1px solid #cccccc;
								padding: 30px 40px;
							}
						}
						.brief-team{
							padding: $spacing-lg $spacing-md;
							.brief-team-wrapper{
								.sub-about-title{
									margin-bottom: $spacing-lg;
								}
								.brief-team-box{
									.brief-team-text{
										p{
											min-height: 200px;
										}
										ul.team-box-social{
											margin-bottom: $spacing-lg;
										}
									}
								}
							}
						}
					}
					&#content-careers{
						padding: 0;
						.careers{
							background: #f9f9f9;
							.careers-wrapper{
								padding: $spacing-md $spacing-sm $spacing-sm;
								.careers-title{
									p{
										font-size: $font-size-small;
                    padding: $spacing-md $spacing-md;
									}
								}
								.careers-box-wrapper{
									margin-top: $spacing-lg - 20;
									.careers-box{
										padding: 20px 30px;
										margin-bottom: $spacing-lg;
									}
								}
							}
						}
						.benefit{
							padding: 0 $spacing-md;
							.benefit-box-wrapper{
								margin-top: $spacing-lg;
								width: 100%;
								margin: 0;
								.benefit-box{
									margin-bottom: $spacing-sm;
									min-height: 60px;
								}
							}
						}
						.join-team{
							p{
								font-size: $font-size-small;
							}
						}
					}
					&#content-purpose{
						padding: 0;
						p{
							padding: $spacing-md $spacing-md;
							font-size: $font-size-small;
						}
					}
				}
			}
		}
	}
}
@media (max-width: $screen-xs-max)
and (orientation: portrait){
	.mp-contrib-hero{
		height: 480px;
		.hero-text{
			padding-top: $spacing-lg;
			h1{
				color: $white;
				font-size: $font-size-grande + 4;
				font-weight: $font-weight-light;
				margin-bottom: 0;
			}
			p{
				font-size: $font-size-medium;
				margin-bottom: $spacing-lg;
				color: $white;
			}
		}
		.hero-summary{
			padding: $spacing-md;
			.hero-network-summary{
				ul{
					display: table;
					li{
						display: table-cell;
						padding-left: 15px;
						&:first-child{
							font-size: $font-size-tiny;
							width: 85px;
						}
						p{
							font-size: $font-size-tiny;
							line-height: normal;
							&.status{
								font-weight: $font-weight-light;
							}
							&.value{
								margin-top: 5px;
							}
						}
					}
				}
			}
		}
	}
	.mp-contrib-main{
		.mp-contrib-confirm{
			.mp-form{
				.btn-main{
					margin-top: 30px;
				}
			}
		}
		.mp-form{
			.form-group{
				&.has-feedback{
					input{
						padding: 8px 20px !important;
					}
					span{
						bottom: 0;
						width: 100% !important;
						left: 0;
						top: 45px;
					}
				}
				width: 100%;
				padding: 0;
			}
			.btn-main{
				width: 100%;
			}
		}
		.mp-contrib-sign{
			ul{
				li{
					word-break: break-all;
					line-height: 1.8;
					padding-bottom: 15px;
				}
			}
		}
	}
	.mp-learn-hero{
		height: 620px;
	}
	.mp-learn-started{
		.started-tab{
			.nav-started{
				li{
					a{
						font-size: 10px;
					}
				}
			}
		}
	}
}
@media (max-width: $screen-xs-max)
and (orientation: landscape){
	.mp-about{
		.mp-about-content{
			.mp-about-box{
				min-height: 300px;
				h3{
					min-height: 40px;
				}
			}
		}
	}
	.mp-contrib-hero{
		height: 500px;
		.hero-text{
			padding-top: $spacing-lg;
			h1{
				color: $white;
				font-size: $font-size-grande + 4;
				font-weight: $font-weight-light;
				margin-bottom: 0;
			}
			p{
				font-size: $font-size-medium;
				margin-bottom: $spacing-lg;
				color: $white;
			}
		}
		.hero-summary{
			padding: $spacing-lg;
			.hero-network-summary{
				ul{
					li{
						p{
							&.value{
								line-height: normal;
							}
						}
					}
				}
			}
		}
	}
	.mp-learn-hero{
		height: 520px;
	}
	.mp-learn-started{
		.started-tab{
			.nav-started{
				li{
					a{
						font-size: 13px;
					}
				}
			}
		}
	}
	.mp-about-main{
		.content-about-wrapper{
			&#content-brief{
				.brief-team{
					.brief-team-wrapper{
						.brief-team-box{
							.brief-team-text{
								p{
									min-height: 100px;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media (min-width: $screen-sm-min)
and (max-width: $screen-ipad)
and (orientation: portrait){
  .mp-module{
		.mp-module-wrapper{
			padding: $spacing-md 0;
			.mp-module-title{
				text-align: left;
			}
			.mp-module-list{
				text-align: right;
				display: block;
        padding-top: 15px;
			}
		}
	}
	.mp-contrib-hero{
		.hero-text{
			h1{
				color: $white;
				font-size: $font-size-grande;
				font-weight: $font-weight-light;
				margin-bottom: 0;
			}
			p{
				font-size: $font-size-medium - 4;
				margin-bottom: $spacing-lg;
				color: $white;
			}
		}
		.hero-summary{
			padding-top: 140px;

			.hero-network-summary{
				ul{
					display: table;
					li{
						display: table-cell;
						padding-left: 15px;
						&:first-child{
							font-size: $font-size-tiny;
							width: 85px;
						}
						p{
							font-size: $font-size-tiny;
							line-height: normal;
							&.status{
								font-weight: $font-weight-light;
							}
							&.value{
								margin-top: 5px;
							}
						}
					}
				}
			}
		}
	}
	.mp-learn-hero{
		height: 450px;
		.hero-text{
			padding-top: $spacing-lg * 2;
			h1{
				font-size: $font-size-grande - 6;
			}
			a.btn-light-blue{

			}
		}
		.hero-summary{
			padding-top: $spacing-lg * 3;
			img{
				width: 240px;
			}
		}
	}
	.mp-learn-works{
		.content-work{
			#t_contribution{
				p{
					padding: $spacing-md $spacing-lg * 2;
				}
				img{
					height: 420px;
					padding: 30px;
				}
			}
			#t_protocol{
        p{
					padding: $spacing-md $spacing-lg * 2;
				}
				img{
					height: 420px;
					padding: 30px;
				}
			}
			#t_portal{
        p{
					padding: $spacing-md $spacing-lg * 2;
				}
				img{
					height: 420px;
					padding: 30px;
				}
			}
		}
	}
	.mp-about-main{
		.content-about-wrapper{
			&#content-brief{
				.brief-intro{
					padding: $spacing-lg $spacing-lg * 2 0;
					img{
						margin-bottom: $spacing-md;
					}
					p{
						padding: $spacing-lg $spacing-md;
					}
				}
				.brief-count{
					.box-count-wrapper{
						padding: 30px;
						.box-count{
							.box-count-icon{
								width: 50px;
								i{
									font-size: 40px;
								}
							}
						}
					}
				}
				.brief-team{
					.brief-team-wrapper{
						.brief-team-box{
							.brief-team-text{
								p{
									min-height: 250px;
								}
								ul.team-box-social{
									margin-bottom: $spacing-lg;
								}
							}
						}
					}
				}
			}
			&#content-careers{
				padding: 0;
				.careers{
					.careers-wrapper{
						.careers-box-wrapper{
							.careers-box{
								margin-bottom: $spacing-lg;
								min-height: 370px;
							}
						}
					}
				}
				.benefit{
					.row{
						width: 100%;
						margin: 0;
					}
					.benefit-box-wrapper{
						margin-top: $spacing-lg;
						.benefit-box{
							min-height: 60px;
						}
					}
				}
			}
			&#content-purpose{
				p{
					padding: $spacing-md 0;
				}
			}
		}
	}
}

@media (min-width: $screen-sm-min)
and (max-width: $screen-ipad)
and (orientation: landscape){
	.mp-contrib-hero{
		.hero-summary{
			padding-top: 140px;
			.hero-network-summary{
				ul{
					li{
						p{
							line-height: normal;
							margin-top: 8px;
						}
					}
				}
			}
		}
	}
	.mp-about-main{
		.content-about-wrapper{
			&#content-brief{
				.brief-team{
					.brief-team-wrapper{
						.brief-team-box{
							.brief-team-text{
								p{
									font-size: $font-size-micro;
									min-height: 340px;
								}
							}
						}
					}
				}
			}
			&#content-careers{
				padding: 0;
				.careers{
					background: #f9f9f9;
					.careers-wrapper{
						.careers-box-wrapper{
							margin-top: $spacing-lg + $spacing-md;
							.careers-box{
								min-height: 370px;
							}
						}
					}
				}
			}
		}
	}
}

.careers, .benefit{
	background: #fff;
}
.mp-about-container .content-about .mp-about-main .content-about-wrapper{
	padding: 20px 50px 10px;
}
.mp-about-container .content-about .mp-about-main .content-about-wrapper#content-careers .join-team{
	margin:75px 0 50px;
}
.link-text{
	color: #1189c6;
	font-weight: bold;
}
.team-wrap {
    margin-bottom: $spacing-md !important;
}
